[submodule "ink"]
	path = ink
	url = https://github.com/formal-land/ink
[submodule "third-party/rust"]
	path = third-party/rust
	url = https://github.com/rust-lang/rust.git
[submodule "third-party/revm"]
	path = third-party/revm
	url = https://github.com/bluealloy/revm.git
[submodule "third-party/move-sui"]
	path = third-party/move-sui
	url = https://github.com/move-language/move-sui.git
