[submodule "ink"]
	path = ink
	url = https://github.com/formal-land/ink
[submodule "third-party/rust"]
	path = third-party/rust
	url = https://github.com/rust-lang/rust.git
[submodule "third-party/revm"]
	path = third-party/revm
	url = https://github.com/formal-land/revm.git
[submodule "third-party/move-sui"]
	path = third-party/move-sui
	url = https://github.com/formal-land/move-sui.git
[submodule "third-party/uint"]
	path = third-party/uint
	url = https://github.com/recmo/uint.git
[submodule "third-party/alloy-rs-core"]
	path = third-party/alloy-rs-core
	url = https://github.com/alloy-rs/core.git
[submodule "third-party/bytes"]
	path = third-party/bytes
	url = https://github.com/tokio-rs/bytes.git
[submodule "third-party/Plonky3"]
	path = third-party/Plonky3
	url = https://github.com/Plonky3/Plonky3.git
