name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Download Git submodules
      run: git submodule update --init --recursive
    - name: Install Coq
      run: |
        sudo apt-get install opam
        opam init -y
        opam switch create 4.14.1
        eval $(opam env)
        opam install -y coq.8.18.0
    - name: Format check
      run: cargo fmt --check
    - name: Build
      run: cargo build --verbose
    - name: Install
      run: cargo install --path lib/
    - name: Lint
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Translate Rust examples
      run: |
        python run_tests.py --output-path ./coq_translation/default/
    - name: Translate Rust examples (axiomatized)
      run: |
        python run_tests.py --axiomatize --axiomatize-public --output-path ./coq_translation/axiomatized/
    - name: Translate Ink! library
      run: |
        cd CoqOfRust
        ./generate_ink_example.sh
    - name: Check that the diff is empty
      run: |
        git -c color.ui=always diff --exit-code
    - name: Compile Coq translations
      run: |
        cd CoqOfRust
        ./configure.sh
        python ./make_and_detect_warnings.py
        cd ..
